.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.box {
  height: 40%;
  width: 99%;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.img-container {
  position: absolute;
  top: 0;
  left: 0;
}
.text-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: start;
}
.text-desc {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.btn-container {
  margin-top: 50px;
}
.login-button {
  background: linear-gradient(99deg, #236BFE 6.69%, #0D4ED3 80.95%);
  box-shadow: 0px 4px 30px rgba(34, 105, 251, 0.8);
  border-radius: 25px;
  padding: 22px 38px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
}